<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => "well form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :email, {:class => "col-sm-2 control-label"} %>
      <div class="col-sm-10">
        <%= f.email_field :email, {autofocus: true,:class => "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, {:class => "col-sm-2 control-label"} %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
      <div class="col-sm-10">
        <%= f.password_field :password, {autocomplete: "off",:class => "form-control"} %>

      </div>
    </div>


    <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            </div>
          </div>
        </div>
    <% end -%>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Sign up", {:class=>"btn btn-default"} %>
      </div>
    </div>
<% end %>

<%= render "users/shared/links" %>