<h1>Listing notifications</h1>

<table>
  <thead>
    <tr>
      <th>Nagios type</th>
      <th>Nagios hostname</th>
      <th>Nagios service</th>
      <th>Nagios state</th>
      <th>Nagios statelevel</th>
      <th>Nagios attempt</th>
      <th>Nagios message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.nagios_type %></td>
        <td><%= notification.nagios_hostname %></td>
        <td><%= notification.nagios_service %></td>
        <td><%= notification.nagios_state %></td>
        <td><%= notification.nagios_statelevel %></td>
        <td><%= notification.nagios_attempt %></td>
        <td><%= notification.nagios_message %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
